@tailwind base;
@tailwind components;
@tailwind utilities;



html, body, #root {
  height: auto;        /* 100% ki jagah auto */
  min-height: 100%;    /* minimum height screen ke barabar */
  overflow-x: hidden;  /* horizontal scroll remove */
  overflow-y: auto;    /* vertical scroll allow */
}
